header
    .container
        .row
            .col-sm-4
                .logo
                    a(href="/")
                        h2.
                            Saci.md
            .col-md-8
                ul.menu.pull-right
                    li
                        a(href="#map").
                            Locație
                    li.
                        069 149 730