section#poster
    .container
        .row
            .col-md-5.visible-xs
                .slogan
                    h1.
                        Saci din polipropilenă și polietilenă
                    h4.
                        Pentru gunoi și matrial de construcții
            .col-md-7
                img.poster(src='assets/images/poster.png')
            .col-md-5.hidden-xs
                .slogan
                    h1.
                        Saci din polipropilenă și polietilenă
                    h4.
                        Pentru gunoi și matrial de construcții