section#products
    .container
        .row
            .col-md-5
                figure
                    img.bag(src='assets/images/white1_55x95.png')
                    figcaption
                        div Alb
                        div 63g
                        div 55x95
                    .width
                        img(src='assets/images/left_arrow.png')
                        span 55 cm
                        img(src='assets/images/right_arrow.png')
                    .height
                        img(src='assets/images/up_arrow.png')
                        span 95 cm
                        img(src='assets/images/down_arrow.png')
            .col-md-5.col-md-offset-2
                figure
                    img.bag(src='assets/images/green2_55x95.png')
                    figcaption
                        div Verde
                        div 48g
                        div 55x95
                    .width
                        img(src='assets/images/left_arrow.png')
                        span 55 cm
                        img(src='assets/images/right_arrow.png')
                    .height
                        img(src='assets/images/up_arrow.png')
                        span 95 cm
                        img(src='assets/images/down_arrow.png')
        .row
            .col-md-5
                figure
                    img.bag(src='assets/images/red2_55x95.png')
                    figcaption
                        div Roșu
                        div 52g
                        div 55x95
                    .width
                        img(src='assets/images/left_arrow.png')
                        span 55 cm
                        img(src='assets/images/right_arrow.png')
                    .height
                        img(src='assets/images/up_arrow.png')
                        span 95 cm
                        img(src='assets/images/down_arrow.png')
            .col-md-5.col-md-offset-2
                figure
                    img.bag(src='assets/images/white_50x100.png')
                    figcaption
                        div Alb
                        div 55g
                        div 50x100
                    .width
                        img(src='assets/images/left_arrow.png')
                        span 50 cm
                        img(src='assets/images/right_arrow.png')
                    .height
                        img(src='assets/images/up_arrow.png')
                        span 100 cm
                        img(src='assets/images/down_arrow.png')
        .row
            .col-md-5
                figure
                    img.bag(src='assets/images/white1_50x100.png')
                    figcaption
                        div Alb
                        div 60g
                        div 55x110
                    .width
                        img(src='assets/images/left_arrow.png')
                        span 55 cm
                        img(src='assets/images/right_arrow.png')
                    .height
                        img(src='assets/images/up_arrow.png')
                        span 110 cm
                        img(src='assets/images/down_arrow.png')
            .col-md-5.col-md-offset-2
                figure
                    img.bag(src='assets/images/polietilena80micron_35x65.png')
                    figcaption
                        div Polietilenă
                        div 80 microni
                        div 35x65
                    .width
                        img(src='assets/images/left_arrow.png')
                        span 35 cm
                        img(src='assets/images/right_arrow.png')
                    .height
                        img(src='assets/images/up_arrow.png')
                        span 65 cm
                        img(src='assets/images/down_arrow.png')
        .row
            .col-md-5
                figure
                    img.bag(src='assets/images/polietilena100micron_50x80.png')
                    figcaption
                        div Polietilenă
                        div 100 microni
                        div 50x80
                    .width
                        img(src='assets/images/left_arrow.png')
                        span 50 cm
                        img(src='assets/images/right_arrow.png')
                    .height
                        img(src='assets/images/up_arrow.png')
                        span 80 cm
                        img(src='assets/images/down_arrow.png')