footer
    .container
        .row
            .col-md-6.col-xs-6
                .copyright
                    h5.
                        &copy; Sim Construct Grup S.R.L.
            .col-md-6.col-xs-6
                .powered-by.pull-right
                    | Powered by
                    h6.
                        UniSoft Arts S.R.L