header
    .container
        .row
            .col-md-6.col-xs-6
                .logo
                    h2.
                        Saci
            .col-md-6.col-xs-6
                .phone.pull-right
                    h3.
                        069 149 730