header
    .container
        .row
            .col-xs-4
                .logo
                    h2.
                        Saci
            .col-xs-8
                .phone.pull-right
                    h3.
                        069 149 730