section#poster
    .container
        .row
            .col-md-7
                img.poster(src='assets/images/poster.png')
            .col-md-5
                .slogan
                    h1.
                        Saci din polipropilenă
                    h4.
                        Pentru gunoi și matrial de construcții