section#poster
    .container
        .row
            .col-md-6
                img(src='assets/images/poster.png')
            .col-md-6
                h1.slogan.
                    Saci din polipropilenă