@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Sans"), local("FiraSans-Regular"), url(http://fonts.gstatic.com/s/firasans/v5/EjsrzDkQUQCDwsBtLpcVQZBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Fira Sans Bold"), local("FiraSans-Bold"), url(http://fonts.gstatic.com/s/firasans/v5/DugPdSljmOTocZOR2CItOhampu5_7CjHW5spxoeN3Vs.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Mono"), local("FiraMono"), url(http://fonts.gstatic.com/s/firamono/v3/SlRWfq1zeqXiYWAN-lnG-pBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

body {
  background-color: #fff;
  font-size: 14px;
  line-height: 1.6;
  font-family: 'Fira Sans', sans-serif;
  color: #666;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

::-moz-selection {
  background: #FFF498; }

::selection {
  background: #FFF498; }

::-moz-selection {
  background: #FFF498; }

img::-moz-selection {
  background: transparent; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: #FFF498; }

a {
  color: #0074D9;
  text-decoration: none !important;
  outline: 0; }
  a:hover, a:focus {
    color: #40a6ff; }

.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-weight: bold; }

.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px; }

.huge, h1 {
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px; }

.large, h2 {
  font-size: 42px;
  line-height: 1.14; }

.bigger, h3 {
  font-size: 26px;
  line-height: 1.38; }

.big, h4 {
  font-size: 22px;
  line-height: 1.38; }

.small, small {
  font-size: 10px;
  line-height: 1.2; }

p {
  margin: 0 0 20px 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
  .button:hover, .button:active, .button:focus,
  button:hover,
  button:active,
  button:focus,
  input[type="submit"]:hover,
  input[type="submit"]:active,
  input[type="submit"]:focus,
  input[type="reset"]:hover,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="button"]:hover,
  input[type="button"]:active,
  input[type="button"]:focus {
    color: #333;
    border-color: #888;
    outline: 0; }

header {
  background-color: #333;
  color: #fff;
  border-bottom: solid 20px #fff;
  margin-bottom: 2px; }
  header h2 {
    color: #fff; }
  header .menu {
    margin-top: 20px;
    list-style: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row;
    flex-flow: row;
    font-size: 25px;
    padding: 0; }
    header .menu li {
      margin: 0px 20px; }

@media screen and (max-width: 767px) {
  .menu {
    float: left !important;
    -ms-flex-flow: column !important;
    flex-flow: column !important; } }

footer {
  background-color: #333;
  color: #FF4136;
  box-shadow: 0px -2px #aaa;
  margin-top: 2px; }
  footer h5, footer h6 {
    color: #fff; }
  footer .powered-by div, footer .powered-by .company {
    margin-top: 5px; }
  footer .copyright {
    margin-top: 20px; }

#poster {
  overflow: hidden;
  border-bottom: solid 20px #fff;
  background-color: #fafafa; }
  #poster img.poster {
    margin-bottom: -40px;
    max-width: 100%; }
  #poster .slogan {
    margin-top: 140px;
    margin-left: 50px; }
    #poster .slogan h1 {
      margin-bottom: 20px; }

@media screen and (max-width: 767px) {
  .slogan {
    margin-top: 50px !important;
    margin-left: auto !important; }
    .slogan h1 {
      font-size: 30px; }
    .slogan h4 {
      font-size: 17px; } }

#products {
  border-bottom: solid 20px #fff; }
  #products .container {
    background-color: #fafafa; }
  #products figure {
    position: relative;
    background-color: #ddd;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
    opacity: 0;
    transform: translateX(30px); }
    #products figure.is-showing {
      opacity: 1;
      transform: translateX(0px); }
    #products figure:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
      #products figure:hover figcaption {
        left: 0%; }
    #products figure img.bag {
      max-width: 100%;
      padding: 10px 50px 50px; }
      #products figure img.bag:hover {
        animation-name: shake;
        animation-duration: 0.82s;
        animation-delay: 0s;
        animation-direction: normal;
        animation-fill-mode: both;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
        transform: translate3d(0, 0, 0);
        perspective: 1000px; }
    #products figure figcaption {
      position: absolute;
      text-align: center;
      font-size: 17px;
      font-weight: bold;
      color: white;
      background: black;
      bottom: 30px;
      left: -100%;
      padding: 2px 8px 2px 15px;
      transition: all 0.3s ease-in-out; }
    #products figure .width {
      position: absolute;
      bottom: 10px;
      left: 25%; }
      #products figure .width img {
        padding: 0;
        width: 20%; }
      #products figure .width span {
        padding: 0px 10px;
        font-size: 20px; }
    #products figure .height {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: column;
      flex-flow: column;
      -ms-flex-align: center;
      align-items: center;
      position: absolute;
      right: 0px;
      bottom: 35%; }
      #products figure .height img {
        height: 60px;
        padding: 0; }
      #products figure .height span {
        padding: 10px 0px;
        font-size: 20px; }

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    transform: translate3d(1px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0); }
  40%, 60% {
    transform: translate3d(2px, 0, 0); } }

@media screen and (max-width: 1024px) {
  figcaption {
    left: 0% !important; }
  .height img {
    height: 40px !important; } }

@media screen and (max-width: 767px) {
  figcaption {
    font-size: 13px !important;
    bottom: 100px !important; }
  .width {
    width: 50%; }
    .width span {
      font-size: 13px !important; }
  .height img {
    height: 25px !important; }
  .height span {
    font-size: 13px !important; } }

section#map {
  border-bottom: solid 20px #fff; }
  section#map .container {
    background-color: #fafafa; }
    section#map .container iframe {
      padding: 10px;
      width: 100%; }

section#info_poster {
  border-bottom: solid 20px #fff; }
  section#info_poster .container {
    background-color: #fafafa; }
    section#info_poster .container img {
      width: 100%; }
